
<div *ngIf="loadingData" class="uk-position-center" style="padding-left: 40px">
    <div uk-spinner="ratio: 3"></div>

</div>

<div *ngIf="!loadingData" >

    <div class="uk-padding uk-padding-remove-top uk-padding-remove-right ">
            <div class=" uk-align-right uk-margin-small-bottom">
                    <a  class="uk-icon-button uk-margin-small-right " uk-toggle="target: #modal-example" uk-icon="plus" ></a>
                </div>
    </div>
    

<ul uk-accordion>
    <li >
        <a class="uk-accordion-title" href="#">Stage 1</a>
        <div class="uk-accordion-content">
                <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>E-mail</th>
                                <th>lastLogin</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let item of StudentStage4 "> 
                                    <!-- {{ itemArray | json }} -->
                                        <td>{{item.displayName}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.lastLogin  | date:'h:mm a , M/d/yy'}}</td>
                                        
                                    <td> <button class="uk-button uk-button-default uk-margin-small-right" type="button"   (click)="moreInfo(item.$key)">Edit</button> <button class="uk-button uk-button-danger uk-button-small" (click)="onDelete(item.$key)" >Delete</button></td>
                            </tr>
                           
                        </tbody>
                    </table>
                    
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Stage 2</a>
        <div class="uk-accordion-content">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Stage 3</a>
        <div class="uk-accordion-content">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href="#">Stage 4</a>
        <div class="uk-accordion-content">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
        </div>
    </li>
        <li>
            <a class="uk-accordion-title" href="#">Admin</a>
            <div class="uk-accordion-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">Teachrt</a>
            <div class="uk-accordion-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
            </div>
        </li>
</ul>






</div>

<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <!-- <h2 class="uk-modal-title">Headline</h2> -->
        <form [formGroup]="formadduser" (ngSubmit)="adduser()">
                <fieldset class="uk-fieldset">
            
                    <legend class="uk-legend uk-text-style">Add User</legend>
            
                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Full Name"  name="fullName" formControlName="fullName" required >
                    </div>
                    
                    <div class="uk-margin">
                        <input class="uk-input" type="email" placeholder="Email"  name="email" formControlName="email" [email]="true" required>  
                    </div>
                    <!-- <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="password"  name="password" [value]="123456789" formControlName="password" required>
                            
                    </div> -->
                    <div class="uk-margin">
                        <select class="uk-select" formControlName="rule" (change)="onChange($event)" required>
                            <option value="" hidden selected >Rule</option>
                            <option value="admin">Admin</option>
                            <option value="teacher">Teacher</option>
                            <option value="student">Student</option>
                        </select>
                    </div>

                    <div class="uk-margin" *ngIf="!stg" >
                        <select class="uk-select" formControlName="stage" required>
                            <option value="" hidden selected>Stage</option>
                            <option value="stage1">Stage 1</option>
                            <option value="stage2"> Stage 2</option>
                            <option value="stage3">Stage 3</option>
                            <option value="stage4">Stage 4</option>
                        </select>
                    </div>
                </fieldset>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close uk-margin-small-right" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary "   type="submit" >Save</button>
                </p>
            </form>
        
    </div>
</div>








<!-- This is the modal add pdf -->
<div id="modal-pdf" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <!-- <h2 class="uk-modal-title">Headline</h2> -->
            <form [formGroup]="formaddpdf" (ngSubmit)="addpdf()">
                    <fieldset class="uk-fieldset">
                
                        <legend class="uk-legend uk-text-style">Add pdf</legend>
                
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Full Name"  name="title" formControlName="title" required >
                        </div>
                        <div class="uk-margin">
                                <input class="uk-input" type="text" placeholder="Full body"  name="body" formControlName="body" required >
                            </div>
                        <div class="uk-margin"  >
                                <select class="uk-select" formControlName="stage" required>
                                    <option value="" hidden selected>Stage</option>
                                    <option value="stage1">Stage 1</option>
                                    <option value="stage2"> Stage 2</option>
                                    <option value="stage3">Stage 3</option>
                                    <option value="stage4">Stage 4</option>
                                </select>
                            </div>
    
                       
                    </fieldset>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close uk-margin-small-right" type="button">Cancel</button>
                        <button class="uk-button uk-button-primary "   type="submit" >Save</button>
                    </p>
                </form>
            
        </div>
    </div>
    